<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>title</key>
			<string>Android</string>
			<key>value</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>iPhone</string>
			<key>value</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>BlackBerry</string>
			<key>value</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Windows Phone</string>
			<key>value</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Other</string>
			<key>value</key>
			<integer>5</integer>
		</dict>
	</array>
</dict>
</plist>
